{% extends 'base.html.twig' %}

{% block title %}Paiement Annulé{% endblock %}

{% block body %}
<h1 class="text-center my-4">Paiement Annulé</h1>
<p class="text-center">Votre paiement a été annulé. Veuillez réessayer.</p>
{% endblock %}
