{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
<h1 class="text-center my-4">Merci pour votre commande !</h1>
<p class="text-center">Votre paiement a été traité avec succès.</p>
{% endblock %}
