{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés
{% endblock %}

{% block body %}
	<div class="main-content">
		<section class="hero-section">
			<div class="sidebar-info">
			<h1> SA SA KDO </h1>
				<h2>"Votre style, votre signature"</h2>

			</div>

		<div class="cards">
		<article class="card">
		<header>
		<h2> Mugs </h2>
		</header>
		<img src="/images/mug_exemple.jpg" alt="mugs">
		</article>
		
		<div class="cards">
		<article class="card">
		<header>
		<h2> Porte clés </h2>
		<img src="/images/porte_cles.jpg" alt="porte clés">
		<article>

		<div class="cards">
		<article class="card">
		<header>
		<h2> Porte clés </h2>
		<img src="/images/marque_page.jpg" alt="porte clés">
		<article>

		<div class="cards">
		<article class="card">
		<header>
		<h2> Porte clés </h2>
		<img src="/images/t-shirt1.jpg" alt="porte clés">
		<article>


	</div>
	

		{% endblock %} 
