{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés{% endblock %}

{% block body %}
    <div class="main-content">
        <section class="hero-section">
            <div class="sidebar-info">
                <h1 class="titre_accueil">Bienvenue !</h1>
            </div>

            <!-- Cards Section -->
            <div class="cards-container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card h-100">
                            <img src="/images/mug_exemple.jpg" class="card-img-top" alt="mugs">
                            <div class="card-body">
                                <a href="{{ path('app_personalisation_mugs') }}" 
                                class="btn btn-primary text-center custom-btn" style="width: 100%;">
                                    <span style="font-size: 90%;">Mugs</span>
                                </a>
                                <span style="font-size: 100%;">A partir de</span>
                                <span style="font-size: 100%;">4.90 €</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card h-100">
                            <img src="/images/porte_cles.jpg" class="card-img-top" alt="porte clés">
                            <div class="card-body">
                                <a href="{{ path('app_personalisation_porte_cl_s') }}" 
                                class="btn btn-primary text-center custom-btn" style="width: 100%;">
                                    <span style="font-size: 100%;">Porte clés</span>
                                </a>
                                <span style="font-size: 100%;">A partir de</span>
                                <span style="font-size: 100%;">2.90 €</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card h-100">
                            <img src="/images/marque_page.jpg" class="card-img-top" alt="marques pages">
                            <div class="card-body">
                                <a href="{{ path('app_personalisation_marques_pages') }}" class="btn btn-primary text-center custom-btn" style="width: 100%;">
                                    <span style="font-size: 90%;">Marques pages</span>
                                </a>
                                <span style="font-size: 100%;">A partir de</span>
                                <span style="font-size: 100%;">4.90 €</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card h-100">
                            <img src="/images/t-shirt1.jpg" class="card-img-top" alt="t-shirt">
                            <div class="card-body">
                                <a href="{{ path('app_personalisation_tshirt') }}" class="btn btn-primary text-center custom-btn" style="width: 100%;">
                                    <span style="font-size: 100%;">T-shirts</span>
                                </a>
                                <span style="font-size: 100%;">A partir de</span>
                                <span style="font-size: 100%;">9.90 €</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
