{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés{% endblock %}

{% block body %}
<div class="main-content">
    <section class="hero-section">
        <div class="sidebar-info">
            
            <h1>Spécialiste de la personnalisation</h1>
        </div>

        <!-- Cards Section -->
        <div class="cards">
            <article class="card">
                <header>
                    <h2>Mugs</h2>
                </header>
                <img src="/images/mug_exemple.jpg" alt="mugs">
            </article>
            
            <article class="card">
                <header>
                    <h2>Porte clés</h2>
                </header>
                <img src="/images/porte_cles.jpg" alt="porte clés">
            </article>
            
            <article class="card">
                <header>
                    <h2>Marque Page</h2>
                </header>
                <img src="/images/marque_page.jpg" alt="marque page">
            </article>
            
            <article class="card">
                <header>
                    <h2>T-Shirts</h2>
                </header>
                <img src="/images/t-shirt1.jpg" alt="t-shirts">
            </article>
        </div>
    </section>
</div>
{% endblock %}
