{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés{% endblock %}

{% block body %}
<div class="main-content">
    <section class="hero-section">
        <div class="sidebar-info">
            <h1 class="titre_accueil">Spécialiste de la personnalisation</h1>
        </div>

        <!-- Cards Section -->
        <div class="cards-container" style="display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="card mb-5" style="width: 50%;">
                
                <img src="/images/mug_exemple.jpg" class="card-img-top" alt="mugs">
                <div class="card-body"><h3 class="card-title">Mugs de differentes couleurs</h3>
                    <a href="{{ path('app_personalisation_mugs') }}" 
					class="btn btn-primary text-center custom-btn" 
					style="width: 100%;">A partie de 4.90€
					</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 50%;">
                
                <img src="/images/porte_cles.jpg" class="card-img-top" alt="porte clés">
                <div class="card-body"><h3 class="card-title">Porte clés</h3>
                    <a href="{{ path('app_personalisation_porte_cl_s') }}" 
					class="btn btn-primary text-center custom-btn" 
					style="width: 100%;">A partir de 2.90€
					</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 50%;">
                
                <img src="/images/marque_page.jpg" class="card-img-top" alt="marques pages">
                <div class="card-body"><h3 class="card-title">Marques pages</h3>
                    <a href="{{ path('app_personalisation_marques_pages') }}" 
					class="btn btn-primary text-center custom-btn" 
					style="width: 100%;">A partir de 2.90€
					</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 50%;">
               
                <img src="/images/t-shirt1.jpg" class="card-img-top" alt="t-shirt">
                <div class="card-body"> <h3 class="card-title">T-shirts</h3>
                    <a href="{{ path('app_personalisation_tshirt') }}" 
					class="btn btn-primary text-center custom-btn" 
					style="width: 100%;">A partir de 9.90€
					</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
