{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés
{% endblock %}

{% block body %}
	<div class="main-content">
		<section class="hero-section">
			<div class="sidebar-info">

				<h1>Spécialiste de la personnalisation</h1>
			</div>

			<!-- Cards Section -->

			<center> 
            <div class="card" style="width: 80%;">
				<img src="/images/mug_exemple.jpg" class="card-img-top" alt="mugs">
				<div class="card-body">
					<h5 class="card-title">Mugs</h5>
					
					<a href="{{ path('app_personalisation') }}" style="width: 80%;" class="btn btn-primary">Je personalise!</a>
				</div>
			</div>

			<div class="card" style="width: 80%;">
				<img src="/images/porte_cles.jpg" class="card-img-top" alt="porte clés">
				<div class="card-body">
					<h5 class="card-title">Porte clés</h5>
					<a href="#" style="width: 80%;" class="btn btn-primary">Je personalise!</a>
				</div>
			</div>

			<div class="card" style="width: 80%;">
				<img src="/images/marque_page.jpg" class="card-img-top" alt="marques pages">
				<div class="card-body">
					<h5 class="card-title">Marques pages</h5>
					<a href="#" style="width: 80%;" class="btn btn-primary">Je personalise!</a>
				</div>
			</div>

			<div class="card" style="width: 80%;">
				<img src="/images/t-shirt1.jpg" class="card-img-top" alt="t-shirt">
				<div class="card-body">
					<h5 class="card-title">T-shirts</h5>
					<a href="#" style="width: 80%;" class="btn btn-primary">Je personalise!</a>
				</div>
			</div>
</section>

		</div>
	</section>
</div>{% endblock %}
