{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés
{% endblock %}

{% block body %}
	<div class="main-content">
		<section class="hero-section">
			<div class="sidebar-info">
			<h1> SA SA KDO </h1>
				<h2>"Votre style, votre signature"</h2>

			</div>

			{# <div class="action-buttons">
										<a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
										<a class="btn btn-secondary" href="{{ path('app_register') }}">Inscription</a>
									</div> #}
		</section>


	</div>

	
  
	<div>
		<h3>Exemple de création</h3>
		<img src="/images/mug_exemple.jpg" class="card-img-top" alt="marques_pages">
	</div>
	<div>
		<div>
			<a href="#" class="btn btn-primary">Mugs</a>
		</div>
		<div>
			<a href="#" class="btn btn-primary">Marques_pages</a>
		</div>
		<div>
			<a href="#" class="btn btn-primary">porte_clé</a> 
		</div>
		<div>
			<a href="#" class="btn btn-primary">T-shirt</a>
		</div>
		<div>

		{% endblock %} 
