{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés
{% endblock %}

{% block body %}
	<div class="main-content">
		<section class="hero-section">
			<div class="sidebar-info">
			<h1> SA SA KDO </h1>
				<h2>"Votre style, votre signature"</h2>

			</div>

			{# <div class="action-buttons">
										<a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
										<a class="btn btn-secondary" href="{{ path('app_register') }}">Inscription</a>
									</div> #}
		</section>

	</div>

	<div>
		
		<img src="/images/mug_exemple.jpg" class="card-img-top" alt="marques_pages">
	</div>
	

		{% endblock %} 
