{% extends 'base.html.twig' %}

{% block title %}Accueil - Objets Personnalisés
{% endblock %}

{% block body %}
	<div class="main-content">
		<section class="hero-section">
			<div class="sidebar-info">
				<h1>"Votre style, votre signature"</h1>
				<h1>Personnalisez chaque détail, parce que vous êtes unique.</h1>

			</div>

			{# <div class="action-buttons">
										<a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
										<a class="btn btn-secondary" href="{{ path('app_register') }}">Inscription</a>
									</div> #}
		</section>


	</div>

	{# ********************************* CAROUSSELLE ****************************#}

	<div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="card" style="width: 100%;">
					<img src="/images/t-shirt.jpg" class="card-img-top" alt="t-shirt">
					<div class="card-body">
						<h5 class="card-title">T-shirt</h5>
						<p class="card-text">Personaliez votre t-shirt! et soyez unique!.</p>

					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="card" style="width: 100%;">
					<img src="/images/porte_clé.jpg" class="card-img-top" alt="porte-clé">
					<div class="card-body">
						<h5 class="card-title">Porte-clés</h5>
						<p class="card-text">Pour que vos clés se sentent unique !</p>

					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="card" style="width: 100%;">
					<img src="/images/mugs.jpg" class="card-img-top" alt="mugs">
					<div class="card-body">
						<h5 class="card-title">Mugs</h5>
						<p class="card-text">Commencez la journée avec un mugs à votre image !</p>
						<a href="#" class="btn btn-primary">Let's go !</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="card" style="width: 100%;">
					<img src="/images/marque_page.jpg" class="card-img-top" alt="marques_pages">
					<div class="card-body">
						<h5 class="card-title">Marques-pages</h5>
						<p class="card-text">Ne perdez pas la pages !</p>
						<a href="#" class="btn btn-primary">Let's go !</a>
					</div>
				</div>
			</div>

		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	{# ********************************************************************************************************************************* #}

	<div>
		<h3>Exemple de création</h3>
		<img src="/images/mug_exemple.jpg" class="card-img-top" alt="marques_pages">
	</div>
	<div>
		<div>
			<a href="#" class="btn btn-primary">Mugs</a>
		</div>
		<div>
			<a href="#" class="btn btn-primary">Marques_pages</a>
		</div>
		<div>
			<a href="#" class="btn btn-primary">porte_clé</a>
		</div>
		<div>
			<a href="#" class="btn btn-primary">T-shirt</a>
		</div>
		<div>

		{% endblock %}
