{% extends 'base.html.twig' %}

{% block title %}Hello PersonalisationController!{% endblock %}

{% block body %}
	<div>
	{# 4 petites images sur le coté #}
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>

{# image centrale #}
<div>
</div>

{# ************************************************ Debut div colonne en flex #}

{# prix #}
<div>
</div>

{# texte infos taxes #}
<div>
</div>

{# nom de l'article #}
<h1>
</h1>

{# infos delai livraison et retour/echange #}
<span>
</span>

{# menu select, pour choix de quantité #}
<span>
</span>

{# bouton 'ajout au panier' #}
<span>
</span>

{# infos delai livraison et retour/echange #}
<span>
</span>

{#**************************************************** fin div colonne en flex #}





	</div>
{% endblock %}
