/* Styles globaux */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
  background: #fee28d24;
}

/********************************************************* Header ***************************************************/
.navbar-custom-padding {
  padding: 1%;
}

.custom-toggler,
.custom-toggler .navbar-toggler-icon {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.offcanvas {
  width: 75% !important;
}

.offcanvas-body .nav-link {
  font-size: 4rem; /* Taille plus grande */
  line-height: 1.5; /* Espacement vertical ajusté */
  /* font-weight: 500; Optionnel: rend le texte un peu plus gras si nécessaire */
}

.offcanvas-header {
  font-size: 4rem; /* Taille plus grande */
  line-height: 1.5;
}

/*********************************************************************************************************************/

/*************************************************** Main ************************************************************/
.main-home {
  /* Ajustement pour l'espace à cause de bootstrap FIXED-TOP */
  padding-top: 25%;

}


/*********************************************************************************************************************/

/*************************************************** Cards dans Home *************************************************/

.cards {
  display: grid;
  grid-gap: 2%;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-rows: max-content 600px 1fr;
  width: 700px;
  height: 800px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*********************************************************************************************************************/

/*************************************************** Formaulaire Inscription *****************************************/


.container { 
  display: flex; 
  justify-content: center; 
}

.formParent {
  max-width: 800px;
  margin: 20px;
  padding: 20px;

}

.formParent div {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.form-row { 
  display: flex; 
  margin-bottom: 10px; 
}

.label { 
   margin-right: 30px; 
   font-size: 2000px;
  }

.form-control { 
  flex-grow: 1; 
  width: 800px;
  height: 90px;
  border: 1px solid #ccc; 
  border-radius: 10px; 
}

.btn-primary {
  width: 200px;
  height: 70px;
  font-size: 40px;
  padding: 10px 15px;
  background: #f88c07;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary:hover { 
  
  background: #0056b3; 
}

/* .formParent div {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  
}

.formParent {
  
  border: 3px ;
  border-radius: 5%;
  width: 800px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

} */
/*********************************************************************************************************************/
/*************************************************** Footer **********************************************************/
.site-footer {
  padding: 45px 0 20px;
  color: #fff; /* Couleur de texte unifiée pour le footer */
}

.site-footer a:hover {
  text-decoration: none;
}

.footer-links,
.footer-links li,
.site-footer .social-icons {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
}

/*********************************************************************************************************************/

/****************************************************** Media Queries ************************************************/
@media (max-width: 426px) {
  .logo_header {
    width: 100px;
    height: 100px;
  }

  .nav-link,
  .nav-item {
    font-size: 10px;
  }
  h1,
  h2 {
    text-align: center;
    margin: 10px; /* Uniformiser la marge */
  }
}

@media (max-width: 769px) {
  h1,
  h2 {
    text-align: center;
    margin: 24px; /* Uniformiser la marge */
}
}

@media (max-width: 991.98px) {
  h1,
  h2 {
    text-align: center;
    margin: 30px; /* Uniformiser la marge */
  }


  .logo_header {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
  }
}
  /*********************************************************************************************************************/

