/* Styles globaux */
body,
html {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/************************************************************************************************************/
/********************************************************* Header *******************************************/

.logo_panier {
  width: 70px;
  height: auto;
}

.profil {
  width: 70px;
  height: auto;
}
.connexion {
  width: 70px;
  height: auto;
}
.deconnexion {
  width: 40px;
  height: auto;
}

.navbar-toggler-icon {
  width: 70px;
  height: 70px;
}

.navbar-nav {
  display: flex !important;
  align-items: flex-end;
}

.nav-item {
  margin-right: 15px;
  font-size: 30px;
}

.nav-link {
  padding: 5px 10px;
  color: #220101;
}

.logo_header {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.bg-body-tertiary {
  background-color: #f3e7c9 !important;
  color: #ffffff;
}

/************************************************************************************************************/

/*************************************************** Main ***************************************************/
.main-home {
  padding-top: 18%; /* Ajustement pour l'espace à cause de bootstrap FIXED-TOP */

  color: #333333;
}

.main-home h1 {
  font-size: 50px;
}

.main-home p {
  font-size: 16px;
}
/************************************************************************************************************/

/*************************************************** Cards dans Home ****************************************/

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  background: #ffffff;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.custom-btn {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #0056b3;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* div .card {
  padding-top: 5%;
}

.card-title {
  font-size: 300%;
} */
/************************************************************************************************************/

/*************************************************** Formaulaire Inscription ********************************/



.container {
  display: flex;
  justify-content: center;
}

.formParent {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
}

.formParent div {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-row label {
  font-size: 40px;
}

.label {
  margin-right: 30px;
  font-size: 100px;
}

.form-control {
  flex-grow: 1;
  width: 800px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn-primary {
  width: 200px;
  height: 70px;
  font-size: 50px;
  padding: 10px 15px;
  background: #ffe39c;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
}
.btn-primary:hover {
  background: #6b00b3ab;
}

/************************************************************************************************************/

/*************************************************** Formulaire Login ***************************************/
.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.connexion-title {
  font-size: 60px !important;
  justify-content:right;
}
.email-label,
.password-label {
  font-size: 40px;
}

/************************************************************************************************************/

/*************************************************** Page personalisation Mugs ******************************/
.titre {
  color: #70581b;
}

.prix {
  font-size: 50px;
}
.stars {
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
}

/************************************************************************************************************/

/*************************************************** Footer *************************************************/
footer {
  padding-top: 10%;
  padding-bottom: 0;
}

.footer-basic {
  padding-top: 2%;
  background-color: #f3e7c9;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  font-size: 30px;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 60px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 5%;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  color: #aaa;
  margin-bottom: 0;
}
/************************************************************************************************************/
/****************************************************** Media Queries ***************************************/
/* Petits appareils (mobiles, moins de 426px) */
@media (max-width: 426px) {
  .nav-link,
  .nav-item {
    font-size: 10px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 18px;
  }

  .logo_header {
    width: 100px;
    height: 100px;
  }
}

/* Moyens appareils (tablets, moins de 768px) */
@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 24px;
  }

  .logo_header {
    width: 120px;
    height: 120px;
  }
}

/* Grands appareils (laptops, moins de 992px) */
@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 30px;
  }

  .logo_header {
    width: 140px;
    height: 140px;
  }
  @media (min-width: 993px) {
    .navbar-nav {
      flex-direction: row !important;
      justify-content: flex-end;
    }

    h1,
    h2,
    h3,
    h4 {
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .logo_header {
      width: 180px;
      height: 180px;
    }

    .card {
      margin: 20px;
    }

    .form-control {
      height: 60px;
    }

    .btn-primary {
      width: 250px;
      height: 80px;
      font-size: 24px;
      padding: 15px 20px;
    }
  }
}
/************************************************************************************************************/
