/* Styles globaux */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
  background: #f4f4f4;
}

/* Navbar */
.navbar {
  height: 110px;
}

.navbar-toggler-icon {
  font-size: 40px;
}

.navbar-brand, .navbar-nav .nav-link, .navbar-toggler {
  line-height: 50px;
  padding: 0;
  height: 100%;
}

/* Footer */
.site-footer {
  background-color: #0f5494;
  padding: 45px 0 20px;
  color: #000;
}

.site-footer h6, .site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links, .footer-links li {
  list-style: none;
  padding-left: 0;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #33353d;
}

/************************************* Media Queries *******************************/
@media (max-width: 575.98px) {
  .logo_header {
    width: 100px;
    height: 100px;
  }
  
  .nav-link, .nav-item {
    font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px;
  }

  h2 {
    text-align: center;
    margin: 30px;
  }
}

@media (max-width: 1199.98px) {
  .logo_header {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
  }
}
