{% block body %}
	<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- À propos -->
      <div class="col-sm-12 col-md-3">
        <h6>À propos</h6>
        <p class="text-justify">Notre Boutique d'Objets Personnalisés vous offre une large gamme de produits uniques que vous pouvez personnaliser selon vos envies. Découvrez l'art de personnalisation avec nous.</p>
      </div>

      <!-- Catégories -->
      <div class="col-xs-6 col-md-3">
        <h6>Catégories</h6>
        <ul class="footer-links">
          <li><a href="#">Mugs</a></li>
          <li><a href="#">Porte_clé</a></li>
          <li><a href="#">T-shirt</a></li>
          <li><a href="#">Marques-pages</a></li>
        </ul>
      </div>

      <!-- Liens utiles -->
      <div class="col-xs-6 col-md-3">
        <h6>Liens Utiles</h6>
        <ul class="footer-links">
          <li><a href="#">À propos de nous</a></li>
          <li><a href="#">Contactez-nous</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">Termes et conditions</a></li>
        </ul>
      </div>

      <!-- Contact & Réseaux sociaux -->
      <div class="col-xs-6 col-md-3">
        <h6>Contact</h6>
        <ul class="footer-links">
          <li><a href="mailto:contact@exemple.com">contact@exemple.com</a></li>
          <li><a href="tel:+123456789">+1 234 567 890</a></li>
        </ul>
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p>&copy; 2024 Notre Boutique d'Objets Personnalisés. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}