{% block body %}
	<div class="container mt-4">
		<div class="card">
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>&copy; Just me... for you. Mustapha M. 2024</p>
					<footer class="blockquote-footer">""
						<cite title="Source Title">-
						</cite>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
{% endblock %}
