{% block body %}
	<footer class="footer">
		<div class="footer-basic">
			<footer>
				<div class="social">
					<a href="#">
						<i class="icon ion-social-instagram"></i>
					</a>
					<a href="#">
						<i class="icon ion-social-snapchat"></i>
					</a>
					<a href="#">
						<i class="icon ion-social-twitter"></i>
					</a>
					<a href="#">
						<i class="icon ion-social-facebook"></i>
					</a>
				</div>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="#">Accueil</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Prestations</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Qui sommes-nous ?</a>
					</li>
					<li class="list-inline-item">
						<a href="#">CGU</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Confidentialité</a>
					</li>

				</ul>
				<p class="copyright">SASA KDO © 2024</p>
			</footer>
		</div>
	</footer>

{% endblock %}
